.Counter__Container {
    margin: 2rem;
    padding: 2rem;
    background-color: #d9e5ff;
    border-radius: 2rem;
}

.Counter__Button {
    background-color: #4c4c4c;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-radius: 0.5rem;
}
