.Todos__Container {
    margin: 2rem;
    padding: 2rem;
    background-color: #cefbc9;
    border-radius: 2rem;
}

.Todos__Item {
    margin: 1rem;
}

.Todos__Button {
    background-color: #8041d9;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.Submit__Button {
    background-color: #cc3d3d;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-radius: 0.5rem;
    margin-left: 1rem;
}
